.listImage {
  margin-top: 2rem;
}

.listImage__input {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.listImage__input-search {
  border: 0;
  border-bottom: 1px solid #ddd;

  font-size: 1.8rem;
  font-weight: 300;
  width: 50%;
  height: 3rem;
  margin-bottom: 2rem;

  text-decoration: none;
  outline: none;
}

.content-img {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  flex-wrap: wrap;
}

.btn-search {
  width: 6rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.listImage__pagination {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 25%;
  cursor: pointer;
  height: 4rem;
}

.pagination-hidden {
  display: none;
}

.pagination-left {
  display: none;
}

.pagination-right {
  display: none;
}
