.listImage__input {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.listImage__input-search {
  border: 0;
  border-bottom: 1px solid #ddd;

  font-size: 1.8rem;
  font-weight: 300;
  width: 50%;
  height: 3rem;
  margin-bottom: 2rem;

  text-decoration: none;
  outline: none;
}

.content-img {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  flex-wrap: wrap;
}
