.header {
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.header__menu {
}

.header__menu-list {
  display: flex;
}

.header__menu-item {
  padding-right: 1rem;
}

.header__menu-item:nth-child(2) {
  border-right: 1px solid black;
  padding-right: 1rem;
}

.header__menu-item:last-child {
  margin-left: 1rem;
}
