.footer {
}

.menu__footer-list {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
}

.footer-hidden {
  position: static;
}
