html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

::placeholder {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #444;
}

@media only screen and (max-width: 1023px) {
  .content-img {
    justify-content: space-around !important;
    width: 100% !important;
    margin: 0 1rem !important;
  }

  .item-img {
    width: calc(24vw - 1rem) !important;
    height: calc(24vw - 1rem) !important;
  }

  .menu__footer-list {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }

  ::placeholder {
    font-size: 1.5rem;
  }
}
